<a href="https://colab.research.google.com/github/Karthikeyan-Ravichandran22/PySpark/blob/main/PySpark_DataBricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Pratical_session").getOrCreate()

In [ ]:
spark

In [101]:
df_spark=spark.read.csv("/content/sample_data/california_housing_test.csv",header=True,inferSchema=True)

In [ ]:
df_spark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [93]:
df_spark=spark.read.option("header","true").csv("/content/sample_data/california_housing_test.csv")

In [ ]:
df_spark.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

• PySpark Dataframe
• Reading The Dataset
• Checking the Datatypes of the Column(Schema)
• Selecting Columns And Indexing
• Check Describe option similar to Pandas
• Adding Columns
• Dropping columns

In [ ]:
df_spark.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [ ]:
df_spark=df_spark.select(["longitude","latitude"]).show()

+-----------+---------+
|  longitude| latitude|
+-----------+---------+
|-122.050000|37.370000|
|-118.300000|34.260000|
|-117.810000|33.780000|
|-118.360000|33.820000|
|-119.670000|36.330000|
|-119.560000|36.510000|
|-121.430000|38.630000|
|-120.650000|35.480000|
|-122.840000|38.400000|
|-118.020000|34.080000|
|-118.240000|33.980000|
|-119.120000|35.850000|
|-121.930000|37.250000|
|-117.030000|32.970000|
|-117.970000|33.730000|
|-117.990000|33.810000|
|-120.810000|37.530000|
|-121.200000|38.690000|
|-118.880000|34.210000|
|-122.590000|38.010000|
+-----------+---------+
only showing top 20 rows

In [ ]:
df_spark.withColumn("latitude_with",df_spark["latitude"]+2)

AttributeError: ignored

In [75]:
df_spark.withColumnRenamed("longitude","New_lat").show()

+-----------+
|    New_lat|
+-----------+
|-122.050000|
|-118.300000|
|-117.810000|
|-118.360000|
|-119.670000|
|-119.560000|
|-121.430000|
|-120.650000|
|-122.840000|
|-118.020000|
|-118.240000|
|-119.120000|
|-121.930000|
|-117.030000|
|-117.970000|
|-117.990000|
|-120.810000|
|-121.200000|
|-118.880000|
|-122.590000|
+-----------+
only showing top 20 rows

In [77]:
df_spark.na.drop().show()

+-----------+
|  longitude|
+-----------+
|-122.050000|
|-118.300000|
|-117.810000|
|-118.360000|
|-119.670000|
|-119.560000|
|-121.430000|
|-120.650000|
|-122.840000|
|-118.020000|
|-118.240000|
|-119.120000|
|-121.930000|
|-117.030000|
|-117.970000|
|-117.990000|
|-120.810000|
|-121.200000|
|-118.880000|
|-122.590000|
+-----------+
only showing top 20 rows

In [79]:
df_spark.na.drop(how="all").show()

+-----------+
|  longitude|
+-----------+
|-122.050000|
|-118.300000|
|-117.810000|
|-118.360000|
|-119.670000|
|-119.560000|
|-121.430000|
|-120.650000|
|-122.840000|
|-118.020000|
|-118.240000|
|-119.120000|
|-121.930000|
|-117.030000|
|-117.970000|
|-117.990000|
|-120.810000|
|-121.200000|
|-118.880000|
|-122.590000|
+-----------+
only showing top 20 rows

In [81]:
df_spark.na.drop(how="any",thresh=2,subset=["longitude"])

DataFrame[longitude: string]

In [84]:
df_spark.na.fill("Missing Value",["Latitude,Longitutude"]).show()

In [87]:
from pyspark.ml.feature import Imputer
imputer= Imputer(
    inputCols=["age","Experience"],
    outputCols=["{}_imputer".format(c) for c in ["age","Experience"]]
).setStrategy("mean")

In [89]:
imputer.fit(df_spark).transform(df_spark).show()

In [ ]:
# Filter Operation

In [94]:
df_spark.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
# Pyspark Mlib

In [96]:
df_spark.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [98]:
df_spark.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [102]:
from pyspark.ml.feature import VectorAssembler
feature_assmble=VectorAssembler(inputCols=['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income'],outputCol="Independent_Features")

In [105]:
output=feature_assmble.transform(df_spark)
output.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|Independent_Features|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|[-122.05,37.37,27...|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|[-118.3,34.26,43....|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|[-117.81,33.78,27...|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|[-118.36,33.82,28...|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|[-119.67,36.33,19...|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|[-119.56,36.51,37...|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|[-121.43,38.63,43...|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|[-120.65,35.48,19...|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|[-122.84,38.4,15....|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|[-118.02,34.08,31...|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|[-118.24,33.98,45...|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|[-119.12,35.85,37...|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|[-121.93,37.25,36...|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|[-117.03,32.97,16...|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|[-117.97,33.73,27...|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|[-117.99,33.81,42...|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|[-120.81,37.53,15...|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|[-121.2,38.69,26....|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|[-118.88,34.21,26...|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|[-122.59,38.01,35...|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
only showing top 20 rows

In [106]:
final_Data=output.select("median_house_value","Independent_Features")

In [107]:
final_Data.show()

+------------------+--------------------+
|median_house_value|Independent_Features|
+------------------+--------------------+
|          344700.0|[-122.05,37.37,27...|
|          176500.0|[-118.3,34.26,43....|
|          270500.0|[-117.81,33.78,27...|
|          330000.0|[-118.36,33.82,28...|
|           81700.0|[-119.67,36.33,19...|
|           67000.0|[-119.56,36.51,37...|
|           67000.0|[-121.43,38.63,43...|
|          166900.0|[-120.65,35.48,19...|
|          194400.0|[-122.84,38.4,15....|
|          164200.0|[-118.02,34.08,31...|
|          125000.0|[-118.24,33.98,45...|
|           58300.0|[-119.12,35.85,37...|
|          252600.0|[-121.93,37.25,36...|
|          231200.0|[-117.03,32.97,16...|
|          222500.0|[-117.97,33.73,27...|
|          153100.0|[-117.99,33.81,42...|
|          181300.0|[-120.81,37.53,15...|
|          137500.0|[-121.2,38.69,26....|
|          300000.0|[-118.88,34.21,26...|
|          414300.0|[-122.59,38.01,35...|
+------------------+--------------------+
only showing top 20 rows

In [108]:

from pyspark.ml.regression import LinearRegression
train_data,test_data=final_Data.randomSplit([0.75,0.25])

In [109]:
regressor=LinearRegression(featuresCol="Independent_Features",labelCol="median_house_value")

In [110]:
regressor=regressor.fit(train_data)

In [111]:
regressor.coefficients

DenseVector([-42909.1409, -42299.0634, 1138.8234, -9.3451, 117.1087, -34.1674, 36.7297, 39310.8329])

In [112]:
regressor.intercept

-3608186.739467008

In [114]:
pred=regressor.evaluate(test_data)

In [116]:
pred.predictions.show()

+------------------+--------------------+------------------+
|median_house_value|Independent_Features|        prediction|
+------------------+--------------------+------------------+
|           37500.0|[-123.08,40.4,10....| 51764.46904119011|
|           44400.0|[-122.14,40.07,31...| 42705.79817886744|
|           45000.0|[-121.3,37.95,9.0...| 97754.44630043209|
|           45800.0|[-119.46,35.14,30...|187122.56257116748|
|           47700.0|[-119.77,36.72,43...| 71453.29941107752|
|           50500.0|[-120.25,37.11,20...|  73062.5684749526|
|           51700.0|[-121.55,39.51,50...| 55646.04913163744|
|           52400.0|[-117.68,35.62,30...| 82722.47063447628|
|           55000.0|[-123.41,40.61,17...| 70257.92290958483|
|           55000.0|[-116.95,33.86,1....| 42788.19978570938|
|           55900.0|[-119.55,36.69,21...| 58965.67436907301|
|           56400.0|[-119.78,36.75,31...|56366.473586834036|
|           57200.0|[-121.23,37.96,37...| 105146.1310125743|
|           57500.0|[-114.98,33.07,18...| 94766.06245931471|
|           57600.0|[-120.31,37.29,36...| 77017.29372066865|
|           57700.0|[-116.0,34.12,32....| 73411.80690556346|
|           58800.0|[-116.28,32.84,18...|118992.43933691038|
|           59000.0|[-122.27,40.39,26...|28005.664120321162|
|           59200.0|[-122.25,40.15,15...|59593.656653878745|
|           60000.0|[-119.02,35.38,52...| 96364.44864786789|
+------------------+--------------------+------------------+
only showing top 20 rows

In [117]:
pred.meanAbsoluteError,pred.meanSquaredError

(49204.440051117796, 4422408228.029128)

In [ ]:
# Categorical Columns
# dummy encoding and onehot encoding

In [118]:
from pyspark.ml.feature import StringIndexer

In [ ]:
indexer=StringIndexer(inputCol="sex",outputCol="Sex_indexer")
df_r=indexer.fit(df_spark).transform(df_spark)
df_r.show()